*,
::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: darkslateblue;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: floralwhite;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 15px 5px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.ans-btn {
  background-color: goldenrod;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

.ans-btn:hover {
  border-color: blueviolet;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
